{% extends "base.html" %}
{% load static %}
	{% block title %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Contact us | Team SARC</title>
	{% endblock title %}
	{% block styles  %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'css/contacts.css' %}">
	{% endblock styles  %}
	{% block post_style %}
		<style>
		ul.dropdown{
			left: 20%;
		}
		</style>
	{% endblock post_style %}
{% block body %}
		<div>
			<h1>Contact Us</h1>
			<img class="heading_back" src="{% static 'img/schedule/Shape 9.svg' %}">
		</div>
			<div class="content" style="margin-top: -5%;">
				<div class="grid">
					<div class="row Eventsc d-flex flex-row justify-content-around" style="margin-left: -8%;">
						<div class="">Overall Coordinator</div>
					</div>	
					<div class="row">
						<div class="mob-view">Overall Coordinator</div>
						<div class="col-sm-4 thumb justify-content-around " style="margin-bottom: 60px; margin-left:auto; margin-right:auto;">
							<figure class="effect-apollo"><div>
								<img src="{% static 'img/contact/naisadh.jpg' %}" alt="alu6"/></div>
								<figcaption>
									<p><font size="2"><strong>Naisadh Patel</strong></font>
									<font size="1">Phone:9725203308</font></p>
								</figcaption>			
							</figure>
						</div>
					</div>
					<div class="row Eventsc d-flex flex-row justify-content-around">
						<div class="" style="padding-left: 5%;">Events</div>
						<div class="" style="margin-left: 14%;">ASMP</div>
					</div>
						
					<div class="row">
						
						<div class="mob-view">Events</div>
						<div class="col-sm-4 thumb" style="margin-bottom: 60px;margin-top: 17px;">
							<figure class="effect-apollo"><div>
								<img src="{% static 'img/contact/Monali_Dambre.jpg' %}" alt="alu6"/></div>
								<figcaption>
									<p><font size="2"><strong>Monali Dambre</strong></font>
									<font size="1">Phone:9075508482</font></p>
								</figcaption>	
							</figure>
						</div>

						
						<div class="col-sm-4 thumb" style="margin-bottom: 60px;margin-top: 17px;">
							<figure class="effect-apollo"><div>
								<img src="{% static 'img/contact/Aishwarya_Singh.jpg' %}" alt="alu6"/></div>
								<figcaption>
									<p><font size="2"><strong>Aishwarya Singh</strong></font>
									<font size="1">Phone:9815206855</font></p>
								</figcaption>	
							</figure>
						</div>
						
						<div class="mob-view">ASMP</div>
						<div class="col-sm-4 thumb" style="margin-bottom: 60px;margin-top: 17px;">
							<figure class="effect-apollo"><div>
								<img src="{% static 'img/contact/Laxmi_Thawkar.jpg' %}" alt="alu6"/></div>
								<figcaption>
									<p><font size="2"><strong>Laxmi Thawkar</strong></font>
									<font size="1">Phone:7219800924</font></p>
								</figcaption>			
							</figure>
						</div>
					
					</div>
					<div class="row Eventsc d-flex flex-row justify-content-around" style="margin-left: 13%;">
						<div class="">HDA</div>
						<div class="" style="margin-left: 14%;">Operations</div>
					</div>	
					<div class="row">
						
						<div class="mob-view">HDA</div>
						<div class="col-sm-4 thumb">
							<figure class="effect-apollo"><div>
								<img src="{% static 'img/contact/Priyesh_Verma.jpg' %}" alt="alu6"/></div>
								<figcaption>
									<p><font size="2"><strong>Priyesh Verma</strong></font>
									<font size="1">Phone:6268668684</font></p>
								</figcaption>				
							</figure>
						</div>
						<div class="col-sm-4 thumb" style="margin-bottom: 60px; margin-left:0px;">
							<figure class="effect-apollo"><div>
								<img src="{% static 'img/contact/Diptashree_Banerjee.jpg' %}" alt="alu6"/></div>
								<figcaption>
									<p><font size="2"><strong>Diptashree Banerjee</strong></font>
									<font size="1">Phone:7596999658</font></p>
								</figcaption>			
							</figure>
						</div>
						<div class="mob-view">Operations</div>
						<div class="col-sm-4 thumb" style="margin-bottom: 60px;margin-left: 0px;">
							<figure class="effect-apollo"><div>
								<img src="{% static 'img/contact/Yatin_Mohan.jpg' %}" alt="alu6"/></div>
								<figcaption>
									<p><font size="2"><strong>Yatin Mohan</strong></font>
									<font size="1">Phone:7678053477</font></p>
								</figcaption>			
							</figure>
						</div>
					</div>

					
					<div class="row Eventsc d-flex flex-row justify-content-around" style="margin-left: 3%;">
						<div class="">Media and Public Relations</div>
						<div class="" style="margin-left: -6%;">Design</div>
					</div>		
					<div class="row">
						
						<div class="mob-view">Media and Public Relations</div>
						<div class="col-sm-4 thumb">
							<figure class="effect-apollo"><div>
								<img src="{% static 'img/contact/Saijal_Rekhani.jpg' %}" alt="alu6"/></div>
								<figcaption>
									<p><font size="2"><strong>Saijal Rekhani</strong></font>
									<font size="1">Phone:9109774742</font></p>
								</figcaption>			
							</figure>
						</div>
						<div class="col-sm-4 thumb" style="margin-bottom: 60px; margin-left:0px;">
							<figure class="effect-apollo"><div>
								<img src="{% static 'img/contact/Nandini_Manwani.jpg' %}" alt="alu6"/>	</div>	
								<figcaption>
									<p><font size="2"><strong>Nandini Manwani</strong></font>
									<font size="1">Phone:9370701355</font></p>
								</figcaption>	
							</figure>
						</div>
						
						<div class="mob-view">Design</div>
						<div class="col-sm-4 thumb">
							<figure class="effect-apollo"><div>
								<img src="{% static 'img/contact/Shiven_Raut.jpeg' %}" alt="alu6"/></div>
								<figcaption>
									<p><font size="2"><strong>Shiven Raut</strong></font>
									<font size="1">Phone:7738513796</font></p>
								</figcaption>			
							</figure>
						</div>
					</div>
					<div class="row Eventsc d-flex flex-row justify-content-around" style="margin-left: -8%;">
						<div class="">Web ;)</div>
					</div>
					<div class="row">
						
						<div class="mob-view">Web :)</div>
						<div class="col-sm-4 thumb justify-content-around " style="margin-bottom: 60px; margin-left:auto; margin-right:auto;">
							<figure class="effect-apollo"><div>
								<img src="{% static 'img/contact/Dhairya_Jain.jpg' %}" alt="alu6"/></div>
								<figcaption>
									<p><font size="2"><strong>Dhairya Jain</strong></font>
									<font size="1">Phone:7987697281</font></p>
								</figcaption>			
							</figure>
						</div>
					</div>
	
				</div>
			</div>
{% endblock body %}
